@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-axiforma text-accent text-[14px] md:text-[16px] font-normal leading-5 bg-white;
  }
}

@layer components {
  .section {
    @apply w-full py-[30px] md:py-10 xl:py-20;
  }

  .subTitle {
    @apply text-[20px] md:text-[24px] font-medium leading-6 md:leading-normal;
  }

  .boxGradient {
    background-image: linear-gradient(180deg, #1fb0e2 0%, #0e5497 100%);
  }
  .formGradient {
    background-image: linear-gradient(180deg, #1f9fd5 0%, #1875b3 100%);
  }
  .textGradient {
    background-image: linear-gradient(180deg, #20b1e2 0%, #105699 100%);
  }
  .iconGradient {
    background-image: linear-gradient(180deg, #1d9ed3 0%, #1673b1 100%);
  }
  .switcherGradient {
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.2) 2%,
      rgba(255, 255, 255, 0.05) 102%
    );
  }
  .switcherGradientActive {
    background-image: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.3) 2%,
      rgba(255, 255, 255, 0.08) 102%
    );
  }
}
