@font-face {
  font-family: 'PPNeueMontreal';
  src: url('PPNeueMontreal-Medium.eot');
  src:
    local('PP Neue Montreal Medium'),
    local('PPNeueMontreal-Medium'),
    url('PPNeueMontreal-Medium.eot?#iefix') format('embedded-opentype'),
    url('PPNeueMontreal-Medium.woff') format('woff'),
    url('PPNeueMontreal-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
